.signInPage, .signUpPage {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 100%),
        url('https://mebincdn.themebin.com/1664271579476.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .signInLogo {
        position: absolute;
        top: 2%;
        left: 2%;
    }
}

.form {
    width: 300px;
    height: 300px;
    padding: 35px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(10, 10, 10, 0.9);

    .signIn {
        background-color: red;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    // .signInInput {}
}

.signUpForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 40%;

    .signUpBtn {
        background-color: red;
        border-radius: 0;
        height: 47px;
    }

    .signUpInput  {
        background-color: #ffffff;
        color: #000000;
        width: 80%;
        height: 41px;
        border-radius: 0;
        &::placeholder {
            color: #000000;
        }
    }
}

.homePage {
    height: 100vh;
    // width: 100vw;
    background-color: #000000;
    
    h1 {
        margin: 0;
    }
}

.infoPage {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
    }
    
    img {
        margin: 5px 0;
        // height: 50vh;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 60vh;

        @media (min-width: 768px) {
            height: 90vh;
            margin: 5px 20px;
        }
    }

    .information {
        display: flex;
        flex-direction: column;
        
        p {
            width:90%;
            padding-left: 20px;
        }

        .details {
            display: flex;
            flex-direction: column;
            align-items: start;
            padding: 20px;

            .play {
                background-color: #ffffff;
                color: #000000;
                margin: 10px 0;
                padding: 5px 15px;
            }
        }
    }
}

.watchPage {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // position: relative;
    // top: 0;
    width: 100vw;
    height: 80vh;

    .trailer {
        flex-grow: 1;
        width: 100%;
    }

    .back {
        position: absolute;
        top: 1%;
        left: 1%;
        background-color: transparent;
    }

}

.searchPage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    @media screen and (min-width: 768px){
        flex-direction: row;

        .searchedItems {
            width: 100vw;
        }
    }

    .filter {
        width: 20vw;

        ul {
            list-style-type: none;
            text-align: start;
            cursor: pointer;

            li {

                &:hover {
                    color: red;
                }
            }
        }
    }

    .searchedItems {
        width: 80vw;

        h2 {
            margin-left: 20px;
            text-align: start;
        }
        
        .items {
            display: flex;
            flex-wrap: wrap;
            .item {
                margin: 10px;
                img {
                    width: 175px;
                    height: 120px ;
                }
            }
        }
    }
}