.content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    
    p {
        max-width: 30%;
        word-wrap: normal;
        text-align: start;
    }

    .imgTitle {
        width: 30%;
    }

    .line {
        display: flex;

        .play {
            background-color: #ffffff;
            color: #000000;
            margin-right: 15px;
        }

        .info {
            background-color: gray;
            color: #ffffff;
        }
    }
}