.content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    position: relative;
    top: 0px;
    padding-top: 25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    p {
        width: 30%;
        word-wrap: normal;
        text-align: start;
    }

    .imgTitle {
        width: 30%;
    }

    .line {
        display: flex;
        padding-bottom: 10px;

        .play {
            background-color: #ffffff;
            color: #000000;
            margin-right: 15px;
        }

        .info {
            background-color: gray;
            color: #ffffff;
            
        }

        .age {
            display: flex;
            margin-left: auto;
            width: 100px;
            text-align: start;
            font-size: large;
            align-items: center;
            padding-left: 10px;
            background-color: #9a9ea255;
            border-left: 3px solid white;
        }
    }
}

@media screen and (max-width: 1024px) {
    .content {
        p {
            width: 50%;
            font-size: 14px;
        }

        .imgTitle {
            width: 40%;
        }
    }
}

@media screen and (max-width: 768px) {
    .content {
        
        p {
            width: 70%;
            font-size: 12px;
        }

        .imgTitle {
            width: 50%;
        }
    }
}