.trailerCard {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    
    .buttons {
        display: flex;
        flex-direction: row;
        
        .button {
            background-color: transparent;
        }

    }
        .info {
            p {
                font-size: 12px;
                text-align: start;
                .age {
                    margin: 0 5px;
                    padding: 2px;
                    border: 1px solid #ffffff;
                }
            }
        }
}