.searchPage {
    display: flex;
    flex-direction: row;
    width: 95vw;
    height: 100vh;
    margin-top: 70px;

    @media screen and (max-width: 768px) {
        flex-direction: column; 

        .searchedItems {
            
            h2 {
                display: flex;
                justify-content: center;
            }

            .items {
                justify-content: center;
            }
        }

        .filter {
            margin-right: 0;
            
            ul {
                display: flex;
                justify-content: center;
                text-align: center;
                flex-wrap: wrap;

                li {
                    margin: 10px;
                }
            }
        }
    }

    .filter {
        margin-right: 50px;

        ul {
            list-style-type: none;
            text-align: start;
            cursor: pointer;

            li {

                &:hover {
                    color: red;
                }
            }
        }
    }

    .searchedItems {

        h2 {
            margin-left: 20px;
            text-align: start;
        }

        .items {
            display: flex;
            flex-wrap: wrap;

            .item {
                margin: 10px;

                img {
                    width: 175px;
                    height: 120px;
                }
            }
        }
    }
}