header {
    position: sticky;
    top: 0;
    z-index: 1001;
    width: 100%;
    height: 80px;
    background-color: transparent ;
    transition: background-color 0.3s ease;
    
    &.scrolled {
        background-color: #000000;
    }
}

.nav {
    padding: 15px 20px;
    // width: 95vw;

    .wrapper {
        display: flex;
        align-items: center;
        margin: 0 auto;

        .dropdown-menu {
            display: none;
        }

        .itemslist {
            display: flex;
            gap: 15px;
            align-items: center;

            .item {
                color: #ffffff;
                font-weight: 400;
                padding: 5px 0 10px 15px;
            }
        }

        .menu {
            display: none;

            @media screen and (max-width: 768px) {
                display: flex;
                margin-left: auto;
            }
        }

        .search {
            padding-top: 5px;
            padding-left: 15px;
        }

        .user {
            margin-left: auto;
            margin-right: 20px;
            display: flex;
            align-items: center;
            // gap: 3px;

            .signOut {
                margin: 5px;
                background-color: red;
                color: #ffffff;
            }
        }

        .dropdown {
            display: none;
            position: fixed;
            top: 80px; // header height
            right: 0;
            width: 200px; // you can adjust this
            background-color: #000000;
            color: #ffffff;
            flex-direction: column;
            gap: 15px;

            .item {
                color: #ffffff;
                padding: 10px;
            }
        
            .signOut {
                margin: 5px;
                background-color: red;
                color: #ffffff;
                padding: 10px;
                display: flex;
                justify-content: center;
            }
        }

        .dropdown.open {
            display: flex;
            border-radius: 10px;
            padding: 10px;
            background-color: rgba(0,0,0, 0.8);
            margin-right: 20px;
        }

        @media screen and (max-width:768px) {
            .itemslist, .user {
                display: none;
            }

            .menu {
                display: block;
                border-radius: 10px;
                margin-left: auto;

                button {
                    background-color: transparent ;
                    color: red;
                }

                .dropdown-menu {
                    display: flex;
                    flex-direction: columns;
                    background-color: #000000;
                    color: #ffffff;

                    .item {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}