header {
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    transition: background-color 0.3s ease;
    background-color: transparent ;
}

.scrolled {
    background-color: #000000;
}

.nav {
    padding: 15px 20px;
    // width: 95vw;

    .wrapper {
        display: flex;
        align-items: center;
        margin: 0 auto;

        .itemslist {
            display: flex;
            gap: 15px;
            align-items: center;

            .item {
                color: #ffffff;
                font-weight: 400;
                padding: 6px 4px;
            }
        }

        .user {
            margin-left: auto;
            margin-right: 20px;
            display: flex;
            // gap: 3px;

            .signOut {
                background-color: red;
                color: #ffffff;
            }
        }
    }
}