.cardList {
    display: flex;
    flex-direction: column;
    // margin: 0 auto;
    .title {
        font-size: 30px ;
        text-align: start;
        padding: 30px 0 15px 30px;

    }

    .topRated {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        margin: 5px;

        > * {
            flex: 1;
        }

        .number {
            font-weight: bold;
            font-size: calc(200px);
            background-color: transparent;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            line-height: 1;
            // left: -40%;
            // bottom: 0;
            z-index: -1;
            text-shadow: -1px -1px 0 #d3d3d3,
                         1px -1px 0 #d3d3d3 ,
                         -1px 1px 0 #d3d3d3,
                         1px 1px 0 #d3d3d3;
            // margin-right: 50px;

            @media (max-width: 1300px) {
                font-size: calc(120px);
            }

            @media (max-width: 1024px) {
                font-size: calc(80px);
                position: absolute;
                bottom: 5%;
                left: 5%;
                z-index: 2;
            }

            @media (max-width: 768px) {
                font-size: calc(60px);
            }
        }

        .ten {
            font-size: calc(100px);
            line-height: 1;
            @media (max-width: 768px) {
                font-size: calc(60px);
                bottom: 5%;
                // left: 2%;
            }
        }

        .contentCard {
            position: relative;
            z-index: 1;

            @media screen and (max-width:1024px) {
                width: 100%;
            }
        }

        &:hover{
            .number {
                display: none;
            }
        }
    }
    .carousel-item-padding-40-px {
        padding: 0 5px !important;
    }
}